doctype html
html(lang='en')
    link(href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
    link(href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='//unpkg.com/dropbox/dist/Dropbox-sdk.min.js')

    script(src='js/tools.js')
    script(src='js/log.js')
    script(src='js/error.js')
    script(src='js/utter.js')
    script(src='js/news.js')
    script(src='js/weather.js')
    script(src='js/time.js')
    script(src='js/date.js')
    script(src='js/battery.js')
    script(src='js/music.js')
    script(src='js/photos.js')
    script(src='js/speech.js')

    script(type='text/javascript').
        var config = !{config};
        var store = {
            time: {},

            weather: {
                index: -1
            },
            photos: {
                interval: undefined
            },
            news: {}
        };

        $(document).ready(function() {
            speechInit();
            weather();
            news();
            time();
            date();
            battery();
            music();
            photos();
        });

    body
        .photo-container.hidden
            .row
                .col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-lg-8.col-md-8.col-sm-8
                    img.photo-holster(src='')
        .button-container
            .row.green
                .col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-lg-2.col-md-2.col-sm-2.pointer
                    i.fa.fa-sun-o
                        span.weather
                .col-lg-2.col-md-2.col-sm-2
                    i.fa.fa-clock-o
                        span.clock
                .col-lg-2.col-md-2.col-sm-2
                    i.fa.fa-calendar
                        span.calendar
                .col-lg-2.col-md-2.col-sm-2
                    i.fa.fa-battery-full
                        span.battery

            .row.blue
                .col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-lg-2.col-md-2.col-sm-2.pointer.center
                    i.fa.fa-music
                .col-lg-2.col-md-2.col-sm-2.pointer.photo-show
                    i.fa.fa-camera-retro
                .hide.col-lg-2.col-md-2.col-sm-2
                    | content
                .hide.col-lg-2.col-md-2.col-sm-2
                    | content

            .row.green
                .force-size.col-lg-offset-2.col-md-offset-2.col-sm-offset-2.col-lg-2.col-md-2.col-sm-2
                    i.fa.fa-newspaper-o
                        span.news
                .hide.col-lg-2.col-md-2.col-sm-2
                    | content
                .hide.col-lg-2.col-md-2.col-sm-2
                    | content
                .hide.col-lg-2.col-md-2.col-sm-2
                    | content
